.carousel-wrapper {
	@apply overflow-hidden box-border;

	.carousel {
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;

		.carousel-item {
			@apply mx-auto absolute top-0 opacity-0;
			z-index: 3;
			transition: transform 0.5s, opacity 0.5s, z-index 0.5s;

			/* Display the initial item and bring it to the front using 'z-index'. These styles also apply to the 'active' item. */
			&.initial,
			&.active {
				opacity: 1 !important;
				position: relative !important;
				z-index: 5 !important;
			}

			/* Set 'z-index' to sit behind our '.active' item. */
			&.prev,
			&.next {
				z-index: 4;
			}

			/* Translate previous item to the left */
			&.prev {
				transform: translateX(-100%);
			}

			/* Translate next item to the right */
			&.next {
				transform: translateX(100%);
			}
		}

		/* Style navigation buttons to sit in the middle, either side of the carousel. */
		.carousel-button-prev,
		.carousel-button-next {
			@apply absolute h-full top-0 px-2;
			z-index: 6;
			@screen lg {
				@apply px-8;
			}
		}

		.carousel-button-prev {
			left: 12vw;
			@screen md {
				left: 15vw;
			}
			@screen lg {
				left: 20vw;
			}
		}

		.carousel-button-next {
			right: 12vw;
			@screen md {
				right: 15vw;
			}
			@screen lg {
				right: 20vw;
			}
		}
	}
}
