.fill {
	@apply inline-flex justify-center items-center overflow-hidden;

	img {
		@apply min-h-full min-w-full flex-grow-0 object-cover;
	}
}

#gallery {
	.row {
		&:not(:last-child) {
			@screen md {
				& {
					@apply mb-3;
				}
			}
		}

		.row-item {
			@apply mb-3 h-96;
			@screen md {
				& {
					@apply mb-0 w-1/3 h-64;
				}
			}
			@screen lg {
				& {
					@apply h-72;
				}
			}
			&:not(:last-child) {
				@screen md {
					& {
						@apply mr-3;
					}
				}
			}
		}
	}

	img {
		transition: transform 0.5s;

		&:hover {
			opacity: 0.65;
			transform: scale(1.05);
			@apply cursor-pointer;
		}
	}
}

#mosaic-gallery {
	&.masonry,
	.masonry {
		@apply flex w-full;
		flex-flow: row wrap;
	}

	.masonry-brick {
		@apply flex-auto h-64 mt-3 mr-3;
		min-width: 16rem;
	}
}
