$pswp__assets-path: '../assets/images/photoswipe/';
@import '~photoswipe/src/css/main';
@import '~photoswipe/src/css/default-skin/default-skin';

html,
body {
	margin: 0;
	height: 100%;
}

.fill-current {
	fill: currentColor;
}

.bg-white-transparent-20 {
	background: rgba(255, 255, 255, 0.8);
}

.bg-white-transparent-60 {
	background: rgba(255, 255, 255, 0.4);
}

.bg-white-transparent-70 {
	background: rgba(255, 255, 255, 0.3);
}

.hover\:bg-white-transparent-60:hover {
	background: rgba(255, 255, 255, 0.4);
}

.hover\:bg-white-transparent-70:hover {
	background: rgba(255, 255, 255, 0.3);
}

.focus\:border-white-transparent-70:focus {
	border-color: rgba(255, 255, 255, 0.4);
}

.bg-black-transparent-40 {
	background: rgba(0, 0, 0, 0.6);
}

#scroll-to-top {
	position: fixed;
	bottom: 50px;
	right: 50px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.75);
	width: 50px;
	height: 50px;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

	i {
		color: #fff;
		margin: 0;
		position: relative;
		left: 16px;
		top: 13px;
		font-size: 19px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	&:hover {
		background: rgba(0, 0, 0, 0.9);
		i {
			color: #fff;
			top: 5px;
		}
	}
}
