html,
body {
	margin: 0;
	height: 100%;
}

.fill-current {
	fill: currentColor;
}

.bg-white-transparent-20 {
	background: rgba(255, 255, 255, 0.8);
}

.bg-white-transparent-60 {
	background: rgba(255, 255, 255, 0.4);
}

.bg-white-transparent-70 {
	background: rgba(255, 255, 255, 0.3);
}

.hover\:bg-white-transparent-60:hover {
	background: rgba(255, 255, 255, 0.4);
}

.hover\:bg-white-transparent-70:hover {
	background: rgba(255, 255, 255, 0.3);
}

.focus\:border-white-transparent-70:focus {
	border-color: rgba(255, 255, 255, 0.4);
}

.bg-black-transparent-40 {
	background: rgba(0, 0, 0, 0.6);
}

#scroll-to-top {
	@apply hidden md:block fixed bg-black no-underline;
	bottom: 50px;
	right: 50px;
	width: 50px;
	height: 50px;
	background: rgba(0, 0, 0, 0.75);

	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

	i {
		@apply text-white m-0 relative;
		left: 16px;
		top: 13px;
		font-size: 19px;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	@media (hover: hover) {
		&:hover {
			background: rgba(0, 0, 0, 0.9);
			i {
				@apply text-white;
				top: 5px;
			}
		}
	}
}

h1 {
	@apply text-5xl mb-8;
}

h2 {
	@apply text-4xl mb-5;
}

h3 {
	@apply text-2xl mb-3;
}

blockquote {
	@apply handwritten text-5xl text-center leading-36 tracking-wider my-12;

	p {
		font-size: inherit;
		line-height: inherit;
	}
}

p {
	@apply text-xl;
}
